@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}



body {

    background-image: url('./assets/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  
}

.main-content {
  padding-inline: 12rem;
}

@media screen and (max-width: 768px) {
  main-content {
    padding-inline: 3rem;
  }
}

@media screen and (max-width: 640px) {
  main-content {
    padding-inline: 2rem;
  
} }

/* Tablet Screen */
@media screen and (min-width: 1024px) {
  main-content {
    padding-inline: 5rem;
  }
}

/* Medium sized but a little larger than tablet */
@media screen and (min-width: 1280px) {
  main-content {
    padding-inline: 12rem;
  }
}


